
<% provide(:title, "Top") %>

<div class="center jumbotron">
  <h1>PDCA管理アプリ</h1>
  <p>このアプリケーションでは、ユーザーのPDCAを管理できます。</p>
  <p>  テストユーザー　メールアドレス：sample-1@email.com　パスワード：password</p>
  <p>  テストユーザー2　メールアドレス：sample-2@email.com　パスワード：password</p>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
  <p>アカウント作成は<a href="/signup">こちら</a>から</p>
</div>


